/constraints.out
/copy.out
/create_function_1.out
/create_function_2.out
/largeobject.out
/largeobject_1.out
/misc.out
/tablespace.out

caql.out
constraints_optimizer.out
aocs.out
appendonly.out
gptokencheck.out
mapred.out
sreh.out
upg2.out
ereport.out
tidycat.out
filespace.out
upgrade.out
auth_constraint.out
catversion.out
resource_queue_function.out
table_functions.out
tidycat2.out
tpch500GB.out
partindex_test.out
